@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap");

.g-font {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: black;
}
.C-hr {
  margin: 0rem;
  opacity: 1;
  width: 8%;
}

.mudule-6 {
  background-color: white;
  padding: 4rem 0rem 0rem 0rem;
}

.caption6 {
  width: 50%;
  position: relative;
  background-color: white;
  padding: 3rem;
  top: 30%;
  left: 50%;
  transform: translate(-46%, -6%);
}
.caption-heading h1 {
  font-size: 3rem;
}
.caption-heading hr {
  margin: 0rem 0rem;
  width: 10%;
  color: hsl(239, 81%, 60%);
}
.caption-heading p {
  font-size: 0.6rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: hsl(239, 81%, 60%);
}

.wrapper-container {
  display: block;
  margin: 0rem auto;
}

.video-box-caption {
  width: 70%;
  position: relative;
  background-color: hsl(239, 81%, 60%);
  color: white;
  padding: 2rem;
  top: 30%;
  left: 22%;
  transform: translate(-39%, 25%);
}

.video-box {
  width: 60%;
  background-color: hsl(238, 55%, 72%);
  height: 24rem;
  padding: 0rem 1rem;
  border: 1px solid black;
}
.video-box hr {
  width: 5%;
}

.four-square {
  width: 40%;
  padding: 2rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-auto-flow: dense;
  gap: 0.4rem;
  justify-items: center;
  align-items: center;
}

.number {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.counter-h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.four-square h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.four-square p {
  font-size: 0.6rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
.four-square hr {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: hsl(239, 81%, 60%);
}
.four-square .p {
  font-size: 0.6rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: hsl(239, 81%, 60%);
}
.square {
  width: 80%;
}
